:root {
    --black : black;
    --white : white;
    --gray  : #C4C4C4;
    --button: #242424;
    --aside : #313131;
    --text  : #4C4C4C;
}

body,
::before,
::after {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: sans-serif;
}

.container {
    width        : 66vw;
    margin       : 2rem auto .75rem auto;
    border-bottom: 1px solid var(--gray);
}

/* header */
.navigation {
    display    : flex;
    align-items: center;
}

ul {
    list-style    : none;
    margin        : 0 0 0 auto;
    padding       : 0;
    display       : flex;
    flex-direction: row;
}

ul li {
    padding: .5rem;

}

ul li a {
    text-decoration: none;
    color          : var(--text);
}

ul li a:hover {
    color: var(--button);
}

/* headline */

.content {
    display        : flex;
    justify-content: space-between;
}

section h3 {
    border-bottom: 1px solid var(--gray);
}

.gray_text {
    color: var(--gray);
}

.articles {
    display        : flex;
    justify-content: space-between;
}

article {
    width: 45%;
}

article p {
    color    : var(--text);
    font-size: .875rem;
}


article img {
    width : 100%;
    height: 250px;
}

/* aside content */